[submodule "external/rs_gbif"]
	path = external/rs_gbif
	url = https://github.com/gbif/rs.gbif.org.git
[submodule "external/rocky-subtidal-fish-invertebrate"]
	path = external/rocky-subtidal-fish-invertebrate
	url = git@github.com:HakaiInstitute/rocky-subtidal-fish-invertebrate.git
[submodule "external/nearshore-RI_motileInvertebrates"]
	path = external/nearshore-RI_motileInvertebrates
	url = https://github.com/HakaiInstitute/nearshore-RI_motileInvertebrates
[submodule "external/seagrass-site-production"]
	path = external/seagrass-site-production
	url = https://github.com/HakaiInstitute/seagrass-site-production
[submodule "external/2022-FalseCreek-eDNA"]
	path = external/2022-FalseCreek-eDNA
	url = git@github.com:HakaiInstitute/2022-FalseCreek-eDNA.git
