@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@view-transition {
  navigation: auto;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@theme {
  --font-serif: "Lora", ui-serif, serif;
}

html {
  color-scheme: light dark;
}

body {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-200;
}

.wave {
  animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
  }

}

/* Slide Transition */
html:active-view-transition-type(slide) {
  &::view-transition-old(chat) {
    animation: 500ms ease-out both slide-out;
  }

  &::view-transition-new(chat) {
    animation: 200ms ease-out both slide-in;
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    filter: blur(0) opacity(1);
    transform: translateY(0);
  }
  to {
    opacity: 0;
    filter: blur(5px) opacity(0);
    transform: translateY(50px);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    filter: blur(5px) opacity(0);
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    filter: blur(0) opacity(1);
    transform: translateY(0);
  }
}
